@model CapenexisLeaners2023.Models.Learners

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Learners</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LearnersName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LearnersName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LearnersSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LearnersSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LearnersIdentityNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LearnersIdentityNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LearnersId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
