@model IEnumerable<CapenexisLeaners2023.Models.Facilitators>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FacilitatorsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacilitatorsSurname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FacilitatorsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacilitatorsSurname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FacilitatorsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FacilitatorsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FacilitatorsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
